<!--The content below is only a placeholder and can be replaced.-->
<form class="box" novalidate [formGroup]="regform" (ngSubmit)="onSubmit()">
  <h1>Registration</h1>

   <!--ошибки поля почты-->
   <div style="color:red" *ngIf="regform.controls['Email'].invalid " >
    <div *ngIf="regform.get('Email').hasError('required') && regform.get('Email').touched ">
      Email is required !
    </div>
    <div *ngIf="regform.get('Email').hasError('pattern') && regform.get('Email').touched ">
      Invalid input
    </div>
   </div>
  <input type="text" placeholder="Email" formControlName="Email">

  <!--ошибки пароля-->
  <div style="color:red" *ngIf="regform.controls['Password'].invalid " >
    <div *ngIf="regform.get('Password').hasError('required') && regform.get('Password').touched ">
      Password required
    </div>
    <div *ngIf="regform.get('Password').hasError('minlength') && regform.get('Password').touched ">
        Minimum of 8 character
      </div>
  </div>
  <input type="text" placeholder="password" formControlName="Password">


  <!--поле для потверждения пароля-->
  <div style="color:red" *ngIf="regform.controls['Password2'].invalid ">
      <div *ngIf="regform.get('Password2').hasError('required') && regform.get('Password2').touched ">
          Password required
      </div>
      <div class="error" *ngIf="regform.get('Password2').errors && regform.get('Password2').dirty && regform.get('Password').dirty">
          Not the same password
         </div>

  </div>
  <input type="text" placeholder="confirm_password" formControlName="Password2">

  <input type="submit" [disabled]="regform.invalid" >
 
</form>

<router-outlet></router-outlet>
